html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin: 20px;

  & a {
    flex: 1;
    font-size: 3rem;
    text-decoration: none;
    color: #000;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: center;
    &:hover {
      background-color: #ccc;
    }
    &:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
    &:last-child {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    &.active {
      background-color: green;
      color: white;
    }
  }
}
