html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 0;
}

.loading {
  width: 100px;
  height: 100px;
  border: 15px solid #ccc;
  border-top-color: blue;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
