html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  margin: 0;
}

.dropdown {
  &:hover {
    & .area {
      display: block;
    }
  }
  & .button {
    background-color: darkgreen;
    color: #fff;
    font-size: 2rem;
    width: 150px;
    cursor: pointer;
    text-align: center;
    padding: 15px;
    transition: all 0.3s ease;

    &:hover {
      background-color: green;
    }
  }
  & .area {
    width: 200px;
    background-color: lightgreen;
    height: 200px;
    display: none;
    position: absolute;
  }
}
